@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-ar: system-ui;
  --font-en: system-ui;
}

body[dir="rtl"] { font-family: var(--font-ar); }
body[dir="ltr"] { font-family: var(--font-en); }

html, body {
  height: 100%;
}
